.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 1em;
}

.inputContainer label {
    font-size: 16px;
    color: #333;
    align-self: flex-start;
}

.inputContainer input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    margin: 0 0 1em 0;
    font-size: 14px;
}
