.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer h1 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.inputContainer label {
    font-size: 22px;
    color: #333;
    align-self: flex-start;
    padding:0 0 4px 2px;
    text-align: center;
}

.inputContainer input {
    padding: 12px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registerLink {
    margin: 0 0 0 0;
    font-size: 18px;
}

.textDanger {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

.formContainer form button {
    font-size: 20px;
    padding: 8px 24px 10px 24px;
    margin-top: 1.5em;
}
